main {
  width: 60rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
  }
  textarea {
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    height: 10rem;
    min-height: 10rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
  }
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}