@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #0f0f0f;
    --secondary-color: #f2f2f2;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'jetbrains mono', monospace;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1{
    color: var(--secondary-color);
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
